<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>메뉴선택은 FOOD득!</title>

  {% load static %}

  <!-- Custom fonts for this theme -->
  <link href="{% static 'mainapp/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">


  <!-- Theme CSS -->
  <!-- <link href="/static/mainapp/css/freelancer.min.css" rel="stylesheet"> -->
  <link href="{% static 'mainapp/css/freelancer.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/main">고민하지말고 FOOD득!</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/signin">로그인</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/signup">회원가입</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/swipe">식당 고르기</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage">마이페이지</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {%block content %}
  {% endblock %}
  <!-- Portfolio Section
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      # Portfolio Section Heading 
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

       Icon Divider 
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

       Portfolio Grid Items 
      <div class="row">

         Portfolio Item 1 
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
          </div>
        </div>

      </div>
       /.row 

    </div>
  </section> -->


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Portfolio Modals -->

  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
    aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="/static/mainapp/img/portfolio/cabin.png" alt="">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                  nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                  Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                <button class="btn btn-primary" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="/static/mainapp/vendor/jquery/jquery.min.js"></script>
  <script src="/static/mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/mainapp/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="/static/mainapp/js/jqBootstrapValidation.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/mainapp/js/freelancer.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <!-- jTinder -->
  <script type="text/javascript" src="/static/mainapp/js/jquery.transform2d.js"></script>
  <!-- jTinder lib -->
  <script type="text/javascript" src="/static/mainapp/js/jquery.jTinder.js"></script>
  <!-- jTinder initialization script -->
  <script type="text/javascript" src="/static/mainapp/js/main.js"></script>

  <!-- swipe.js -->
  <script src="/static/mainapp/js/swipe.js"></script>


<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <script>
    $("#signin").click(function () {
      $("form").submit();
      return false;
    });
  </script>

  <script type="text/javascript">
    function caps_lock(e) {
      var keyCode = 0;
      var shiftKey = false;
      keyCode = e.keyCode;
      shiftKey = e.shiftKey;
      if (((keyCode >= 65 && keyCode <= 90) && !shiftKey)
        || ((keyCode >= 97 && keyCode <= 122) && shiftKey)) {
        show_caps_lock();
        setTimeout("hide_caps_lock()", 3500);
      } else {
        hide_caps_lock();
      }
    }

    function show_caps_lock() {
      $("#capslock").show();
    }

    function hide_caps_lock() {
      $("#capslock").hide();
    }
  </script>

  <script>

    // 아이디 유효성 검사
    var checkEmail = false;
    var checkPwd = false;
    var checkName = false;
    var checkEmailAuthKey = false;

    var randomCode = makeRandomCode();
    $("#email").blur(function () {
      var inputEmail = $('#email').val();
      var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

      $.ajax({
        url: '/emailCheck?inputEmail=' + inputEmail,
        type: 'get',
        success: function (data) {
          // 중복: data=1, 아니면 data=0
          console.log("data : " + data);
          if (data == 1) {
            checkEmail = false;
            $("#email_check").text("이미 가입된 이메일입니다");
          } else if (exptext.test(inputEmail) == false) {
            checkEmail = false;
            $("#email_check").text("이메일 형식이 올바르지 않습니다");
          } else {
            checkEmail = true;
            $("#email_check").text("");
          }
        }, error: function () {
          console.log("실패");
        }
      })
    });

    $("#pwd").blur(function () {
      var inputPwd = $('#pwd').val();
      var inputPwd2 = $('#pwd2').val();
      var pwdCheck = RegExp(/^(?=.*[a-z])(?=.*[0-9]).{8,16}$/);  //숫자,문자 8-16자

      if (pwdCheck.test(inputPwd) == false) {
        checkPwd = false;
        $("#pwd_check").text("8~16자 영문과 숫자를 포함해주세요.");
      } else {
        $("#pwd_check").text("");
      }
    })

    $('#pwd2').blur(function () {
      var inputPwd2 = $('#pwd2').val();
      if (signupForm.pwd.value != inputPwd2 && inputPwd2 != "") {
        checkPwd = false;
        $("#pwd2_check").text("비밀번호가 일치하지 않습니다.");
      } else if (signupForm.pwd.value == inputPwd2) {
        checkPwd = true;
        $("#pwd2_check").text("");
      }
    })


    $("#name").blur(function () {
      var inputName = $('#name').val();
      var nameCheck = RegExp(/^[가-힣A-Za-z0-9\s_\-]{1,15}$/);
      if (nameCheck.test(inputName) == false) {
        checkName = false;
        $("#name_check").text("1~15자 특수문자는 포함할 수 없습니다");
      } else {
        checkName = true;
        $("#name_check").text("");
      }
    })

    // 이메일 인증번호 받기
    function makeRandomCode() {
      var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz";
      var code_length = 15;
      var randomCode = '';
      for (var i = 0; i < code_length; i++) {
        var rnum = Math.floor(Math.random() * chars.length);
        randomCode += chars.substring(rnum, rnum + 1);
      }
      return randomCode;
    }

    $('#emailAuthBtn').click(function () {
      randomCode = makeRandomCode();
      $('#emailAuthKey').attr("disabled", false);
      $.ajax({
        url: '/emailAuthentication',
        type: 'post',
        data: { 'email': $('#email').val(), 'randomCode': randomCode },
        success: function (res) {
          alert('메일로 인증번호를 발송하였습니다.');
        }
      })
    });

    $("#emailAuthKey").blur(function () {
      var emailAuthKey = $('#emailAuthKey').val();
      if (emailAuthKey != randomCode) {
        checkEmailAuthKey = false;
        $("#emailAuthKey_check").text("인증번호를 다시 확인해주세요");
      } else {
        checkEmailAuthKey = true;
        $("#emailAuthKey_check").text("");
      }
    })



    // submit
    $("#signup").click(function () {
      console.log(randomCode);
      if (signupForm.email.value == "" || signupForm.pwd.value == "" || signupForm.name.value == "" || signupForm.emailAuthKey.value == "") {
        if (signupForm.email.value == "") {
          checkEmail == false
          $("#email_check").text("필수 정보입니다");
        }
        if (signupForm.emailAuthKey.value == "") {
          checkEmailAuthKey == false
          $("#emailAuthKey_check").text("인증이 필요합니다");
        }
        if (signupForm.pwd.value == "") {
          checkPwd == false
          $("#pwd_check").text("필수 정보입니다");
        }
        if (signupForm.name.value == "") {
          checkName == false
          $("#name_check").text("필수 정보입니다");
        }
      }

      if (checkEmail == true && checkPwd == true && checkName == true && checkEmailAuthKey == true) {
        $("form").submit();
      } else {
        $('html').scrollTop(0);
      }
      return false;
    });
  </script>

</body>

</html>