{%extends 'mainapp/common.html' %}
{% block content%}
	<div class="jumbotron signDiv">
		<div class="container text-center">

			<form class="signForm" method="post" action="/signin">
				<h2>Login</h2>
				<br></br>
				<div class="form-group">
					<input type="text" class="form-control" id="email" name="email"
						placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="pwd" name="pwd"
						onkeypress="caps_lock(event)" placeholder="Password">

					<p id="capslock"
						style="position: relative; border: 2px solid #831400; width: 300px; bottom: 0px; display: none">
						&nbsp;<b>CapsLock</b> 키가 눌려있습니다.&nbsp;
					</p>

				</div>
				<button class="btn btn-primary btn-block" id="signin">로그인</button>
			</form>

		</div>
	</div>
	<div class="scroll-to-top d-lg-none position-fixed ">
		<a class="js-scroll-trigger d-block text-center text-white rounded"
			href="#page-top"> <i class="fa fa-chevron-up"></i>
		</a>
	</div>

{% endblock %}