.btn_login {
    font-size: large;
    display: inline-block;
    margin-bottom: 1px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 15px;
    color: black;
    position: relative;
    width: 100px;
}

.btn_new {
    font-size: large;
    display: inline-block;
    margin-top: 1px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 15px;
    color: black;
    width: 100px;
}

.tx {
    font-size: large;
}